@model WebProject.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectOnSite" class="control-label"></label>
                <input asp-for="SubjectOnSite" class="form-control" />
                <span asp-validation-for="SubjectOnSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.AddressDetail.AddressString" class="control-label"></label>
                <input asp-for="PostDetail.AddressDetail.AddressString" class="form-control" />
                <span asp-validation-for="PostDetail.AddressDetail.AddressString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.AddressDetail.City" class="control-label"></label>
                <input asp-for="PostDetail.AddressDetail.City" class="form-control" />
                <span asp-validation-for="PostDetail.AddressDetail.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.AddressDetail.District" class="control-label"></label>
                <input asp-for="PostDetail.AddressDetail.District" class="form-control" />
                <span asp-validation-for="PostDetail.AddressDetail.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.AddressDetail.Award" class="control-label"></label>
                <input asp-for="PostDetail.AddressDetail.Award" class="form-control" />
                <span asp-validation-for="PostDetail.AddressDetail.Award" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.AddressDetail.Street" class="control-label"></label>
                <input asp-for="PostDetail.AddressDetail.Street" class="form-control" />
                <span asp-validation-for="PostDetail.AddressDetail.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.HomeInformation.Length" class="control-label"></label>
                <input asp-for="PostDetail.HomeInformation.Length" class="form-control" />
                <span asp-validation-for="PostDetail.HomeInformation.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.HomeInformation.Width" class="control-label"></label>
                <input asp-for="PostDetail.HomeInformation.Width" class="form-control" />
                <span asp-validation-for="PostDetail.HomeInformation.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.HomeInformation.SquareMeter" class="control-label"></label>
                <input asp-for="PostDetail.HomeInformation.SquareMeter" class="form-control" />
                <span asp-validation-for="PostDetail.HomeInformation.SquareMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.HomeInformation.Bedroom" class="control-label"></label>
                <input asp-for="PostDetail.HomeInformation.Bedroom" class="form-control" />
                <span asp-validation-for="PostDetail.HomeInformation.Bedroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.HomeInformation.Toilet" class="control-label"></label>
                <input asp-for="PostDetail.HomeInformation.Toilet" class="form-control" />
                <span asp-validation-for="PostDetail.HomeInformation.Toilet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.HomeInformation.Floor" class="control-label"></label>
                <input asp-for="PostDetail.HomeInformation.Floor" class="form-control" />
                <span asp-validation-for="PostDetail.HomeInformation.Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.NumberOfImage" class="control-label"></label>
                <input asp-for="PostDetail.NumberOfImage" class="form-control" />
                <span asp-validation-for="PostDetail.NumberOfImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.Price" class="control-label"></label>
                <input asp-for="PostDetail.Price" class="form-control" />
                <span asp-validation-for="PostDetail.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDetail.PriceString" class="control-label"></label>
                <input asp-for="PostDetail.PriceString" class="form-control" />
                <span asp-validation-for="PostDetail.PriceString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
