/* Định dạng cột có kích thước medium 3 */
.col-md-3 {
    float: right;
    width: 25%; /* Điều chỉnh chiều rộng tùy thuộc vào nhu cầu */
}

/* Định dạng hình ảnh trong cột có kích thước medium 6 */
.col-md-6 img {
    max-width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Định dạng tiêu đề trong mô tả */
.describe h4 {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Định dạng tiêu đề cấp 6 */
h6 {
    display: flex;
    align-items: center;
}

    /* Định dạng biểu tượng trong tiêu đề cấp 6 */
    h6 i {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

/* Định dạng địa chỉ trong tiêu đề */
.address h6 {
    display: flex;
    align-items: center;
}

    /* Định dạng biểu tượng trong tiêu đề địa chỉ */
    .address h6 i {
        margin-right: 5px; /* Khoảng cách giữa icon và chữ */
    }

    /* Định dạng văn bản trong tiêu đề địa chỉ */
    .address h6 .text {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Định dạng phần ưa thích */
.favorite {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

/* Định dạng biểu tượng và văn bản trong phần ưa thích */
.icon-text {
    display: flex;
    align-items: center;
}

    /* Định dạng biểu tượng trong phần ưa thích */
    .icon-text i {
        margin-right: 5px;
    }

/* Định dạng biểu tượng trái tim khi chưa hover */
.bx.bxs-heart {
    color: black;
}

    /* Định dạng biểu tượng trái tim khi hover */
    .bx.bxs-heart:hover {
        color: blue;
    }

/* Màu mặc định cho thẻ a */
a {
    color: black;
    text-decoration: none; /* Loại bỏ gạch chân mặc định */
}

    /* Màu khi hover vào thẻ a */
    a:hover {
        color: #007bff; /* Màu xanh nhạt */
    }
