* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
}

/*end phan chung*/

.header {
    min-height: 60px;
    background-color: #ccc;
}


.nav {
    display: flex;
    align-items: center;
    line-height: 60px;
}


.menu li {
    display: inline-block;
}

    .menu li a {
        display: block;
        width: 100%;
        padding: 0 16px;
        margin-right: 10px;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.5s;
    }

    .menu li:hover a {
        background-color: rgb(182, 87, 63);
        color: #fff;
    }

.user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.table-price {
    float: right;
    top: 22px;
    width: 25%; /* Điều chỉnh chiều rộng tùy thuộc vào nhu cầu */
}

.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .icon-text i {
        margin-right: 4px;
    }

.favorite-btn {
    display: inline-flex;
    align-items: center;
    background-color: #1da1f2d1;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    search-bar transition: background-color 0.3s;
    position: absolute;
    right: 20px;
}

    .favorite-btn i {
        font-size: 14px;
    }

    .favorite-btn.active {
        background-color: #ff4757b5;
    }

.search-by-price ul li a {
    text-decoration: none;
    border-radius: 5px;
}

/*
ảnh nền và thanh tìm kiếm
*/

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.5; /* Điều chỉnh độ trong suốt theo ý muốn của bạn */
    background: none;
    border: none;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 1; /* Hiển thị rõ ràng khi di chuột qua */
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent; /* Đảm bảo biểu tượng điều khiển không có nền */
}

.carousel-inner {
    width: 100%;
    height: 650px;
}

.search-bar {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 10px;
    background-color: #4e4745;
    border-radius: 10px;
    color: white;
    z-index: 10;
    pointer-events: none; /* Ngăn chặn sự kiện cho search-bar */
}

    .search-bar * {
        pointer-events: auto; /* Bật lại sự kiện cho các phần tử con */
    }

.nav-tabs .nav-item {
    margin-right: 0;
}

.nav-tabs .nav-link.active {
    background-color: #fdece9;
    border-color: #ddd #ddd #fff;
    color: black;
}

.nav-tabs .nav-link {
    color: white;
}

.form-control {
    border-radius: 5px;
}

.search-bar .nav-tabs .nav-item .nav-link {
    font-size: 12px; /* Adjust font size */
    padding: 5px 10px; /* Adjust padding */
}

.search-bar .tab-content .form-row .form-control {
    font-size: 12px; /* Adjust font size of inputs */
}

.search-bar .tab-content .form-row .btn {
    font-size: 12px; /* Adjust font size of buttons */
    padding: 5px 10px; /* Adjust padding of buttons */
}

.search-bar .tab-content .form-row .col-md-1,
.search-bar .tab-content .form-row .col-md-2,
.search-bar .tab-content .form-row .col-md-3,
.search-bar .tab-content .form-row .col-md-7 {
    padding: 2px; /* Adjust padding for columns */
}


button.btn.btn-danger.btn-block {
    background-color: #fc605c;
    border-color: #fc605c;
    width: 100px;
}


/*
    Phần bài đăng
*/

.info {
    width: 800px;
    margin-top: 70px;
    position: relative;
}

.d-block {
    height: 390px;
}

.vip-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.card {
    height: 650px;
    width: 90%;
    position: relative;
}


.card-text-description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.6em; /* Fallback for browsers that do not support -webkit-line-clamp */
    height: 48px;
}
