#LogoutButton:focus,
#LogoutButton:active {
    outline: none;
}

/*
    Dropdown info
*/

.dropdown {
    margin-left: 8px;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#dropdownMenuButton {
    background: white;
    color: black;
    border: none;
    box-shadow: none;
}

    #dropdownMenuButton:focus {
        outline: none;
        box-shadow: none;
    }

.btn-list {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

    .btn-list i {
        color: inherit;
    }

    .btn-list:focus {
        outline: none;
    }

    .btn-list:hover {
        color: #007bff;
    }

.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .dropdown-menu .dropdown-item form {
        width: 100%;
        margin: 0;
    }

    .dropdown-menu .dropdown-item button {
        width: 100%;
        text-align: left;
        padding: 0;
    }

.dropdown-toggle::after {
    display: none;
}

/*
    Bell and heart shape 
*/
.dropdown-menu-notifications,
.dropdown-menu-favorites {
    max-height: 300px;
    overflow-y: auto;
    width: 430px;
}

.favorite-item,
.notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .favorite-item img,
    .notification-item img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
        margin-left: 10px;
    }

    .notification-item img {
        border-radius: 50%;
    }

.no-favorites,
.no-notifications {
    text-align: center;
    padding: 10px;
    color: #888;
}

.remove-favorite {
    color: red;
    cursor: pointer;
}

.content-block {
    height: 50px !important;
}

.notification-item p {
    padding: 0;
}

.notification-item h6 {
    margin-bottom: -13px;
    font-size: 14px;
}

.notification-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.5em;
    margin-bottom: 0;
}

.favorite-item p {
    padding: 0px;
    margin-bottom: -2px;
}

.favorite-item h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.2em;
    margin-bottom: 14px;
}

.favorite-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.2em;
    margin-bottom: 2px;
    max-width: calc(100% - 15px);
}

.favorite-item span {
    margin-bottom: 4px;
    margin-right: 15px;
}




