@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!--Additional cSS files-->
    <link href="~/css/post/home/index/animate.css"
          rel="stylesheet" />
    <link href="~/css/post/home/index/fontawesome.css"
          rel="stylesheet" />
    <!--Addtional links-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          rel="stylesheet" />
    <link href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
          rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>
    <!--Css created by members-->
    <link href="~/css/post/home/index/index.css" rel="stylesheet" />
    <link href="~/css/post/home/index/search.css" rel="stylesheet" />
    <link href="~/css/post/home/index/style.css" rel="stylesheet" />
}

<div class="container-fluid" style="padding: 0">
    <div class="overlay">
        <div class="search">
            <select class="select-search" name="muc-gia" id="muc-gia">
                <option value="">Mức giá</option>
            </select>

            <select class="select-search" name="khu-vuc" id="khu-vuc">
                <option value="">Khu vực</option>
            </select>

            <select class="select-search" name="muc-gia" id="muc-gia">
                <option value="">Mức giá</option>
            </select>

            <select class="select-search" name="dien-tich" id="dien-tich">
                <option value="">Diện tích</option>
            </select>
        </div>
    </div>

    <section class="container mt-4 p-2">
        <div class="col-md-3 mx-3">
            <div class="container border mb-3">
                <h6>Lọc theo khoảng giá</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Dưới 5 triệu</a></li>
                    <li><a href="#">5 - 10 triệu</a></li>
                    <li><a href="#">10 - 15 triệu</a></li>
                    <li><a href="#">15 - 20 triệu</a></li>
                    <li><a href="#">20 - 25 triệu</a></li>
                    <li><a href="#">30 - 35 triệu</a></li>
                </ul>
            </div>

            <div class="container border mb-3">
                <h6>Lọc theo diện tích</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Dưới m²</a></li>
                    <li><a href="#">50 - 70m²</a></li>
                    <li><a href="#">70 - 100m²</a></li>
                    <li><a href="#">100 - 150m²</a></li>
                    <li><a href="#">150 - 200m²</a></li>
                    <li><a href="#">200 - 400m²</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 border mb-3">
                <div class="row" style="height: 100%;">
                    <div class="col-md-6">
                        <img src="~/images/banner-03.jpg" alt="Alternate Text" style="width:100%" />
                    </div>
                    <div class="col-md-6">
                        <div class="describe">
                            <h4>Cho thuê căn hộ Vinhomes Central Park 1,2,3,4PN và Landmark 81 giá tốt nhất. Hoàng Phúc 0916 946 *** </h4>
                        </div>
                        <div class="info">
                            <h6><i class='bx bx-area'></i> Diện tích: </h6>
                            <h6><i class='bx bx-dollar'></i> Giá cho thuê: </h6>
                        </div>

                        <div class="">
                            <div class="icon-text">
                                <i class='bx bxs-shopping-bag'></i> <span>Môi giới</span>
                            </div>
                            <div class="icon-text">
                                <i class='bx bx-medal'></i> <span>Tin ưu tiên</span>
                            </div>
                            <div class="icoC:\Users\Admin\Documents\Giaodien\doancoso\assets\imagesn-text">
                                <i class='bx bxs-location-plus'></i> <span>Tp Hồ Chí Minh</span>
                            </div>
                            <div class="icon-text">
                                <a href="#"><i class='bx bxs-heart'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 border mb-3">
                <div class="row" style="height: 100%;">
                    <div class="col-md-6">
                        <img src="~/images/banner-03.jpg" alt="Alternate Text" style="width:100%" />
                    </div>
                    <div class="col-md-6">
                        <div class="describe">
                            <h4>Cho thuê căn hộ Vinhomes Central Park 1,2,3,4PN và Landmark 81 giá tốt nhất. Hoàng Phúc 0916 946 *** </h4>
                        </div>
                        <div class="info">
                            <h6><i class='bx bx-area'></i> Diện tích: </h6>
                            <h6><i class='bx bx-dollar'></i> Giá cho thuê: </h6>
                        </div>

                        <div class="">
                            <div class="icon-text">
                                <i class='bx bxs-shopping-bag'></i> <span>Môi giới</span>
                            </div>
                            <div class="icon-text">
                                <i class='bx bx-medal'></i> <span>Tin ưu tiên</span>
                            </div>
                            <div class="icon-text">
                                <i class='bx bxs-location-plus'></i> <span>Tp Hồ Chí Minh</span>
                            </div>
                            <div class="icon-text">
                                <a href="#"><i class='bx bxs-heart'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/post/home/index/counter.js"></script>
    <script src="~/js/post/home/index/custom.js"></script>
    <script src="~/js/post/home/index/isotope.min.js"></script>
    <script src="~/js/post/home/index/owl-carousel.js"></script>
}
