@{
    ViewData["Title"] = "Home Page";
}

<div id="noti_Container">
    <div class="ikrNoti_Counter">1</div>
    <!--Button-->
    <div class="ikrNoti_Button"
         style="background: #2E467C;">
    </div>
    <!---->
    <div class="ikrNotifications"
         style="display: none !important">
        <h3>Notifications (<span class="notiCounterOnHead">1</span>)</h3>
        <div class="ikrNotificationItems">
            <ul id="messagesList">

            </ul>
        </div>
        <div class="ikrSeeAll">
            <a href="#">See all</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    @* <div class="row p-1">
    <div class="col-1">UserAccountId</div>
    <div class="col-5"><input type="text" id="userAccountId" /></div>
    </div> *@
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/home/index.js"></script>
<script src="~/js/chat.js"></script>