@model Motel.ConnectedUsers

@{
    ViewData["Title"] = "ShowConnectedUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowConnectedUsers</h1>

@foreach(var user in Motel.ConnectedUsers.myConnectedUsers)
{
    <li>@user</li>
}
