
/*
    Favorite post
*/
.vip-label {
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 4px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.card-img-overlay {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 300px;
}

.text-truncate-custom {
    display: block; /* Chúng ta sử dụng block hoặc inline-block để áp dụng max-width */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; /* Điều chỉnh giá trị này theo nhu cầu của bạn */
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3em; /* Adjust based on the number of lines and line height */
}

.describe.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3em; /* Adjust based on the number of lines and line height */
}

.favorite-btn {
    display: inline-flex;
    align-items: center;
    background-color: #1da1f2d1;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    padding: 10px 15px;
    bottom: 36px;
    right: 23px;
}

    .favorite-btn i {
        font-size: 16px;
        color: white;
    }

    .favorite-btn.active {
        background-color: #ff4757b5;
    }
