@model Motel.ViewModels.ModificationLayoutViewModel

@{
    ViewData["Title"] = "_Modification_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <!--Addtional links-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Self-written CSS-->
    <link href="~/css/post/_modification_layout.css" rel="stylesheet" />

    @RenderSection("_Modification_Layout_Styles", required: false)
}

<div class="container-fluid mt-5">
    <div class="row-cols-2 d-flex">
        <div class="col-3">
            @await Html.PartialAsync("~/Areas/Customer/Views/Accordion/_Accordion_Partial.cshtml", Model.Owner)
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("_Modification_Layout", required: false)
}

