/*
    Avatar
*/
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

/*
    Slick Slider
*/
.thumbnail-gallery img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

    .slick-slide img {
        width: 100%;
        height: auto;
    }

/*
    Icon
*/
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/*
    Hr
*/
.thin-hr {
    height: 0 !important;
    border-top: 0.1px solid #dee2e6;
}

/*
    Danger button
*/
button.btn-danger:disabled {
    background-color: #dc3545; /* Màu nền đỏ của btn-danger */
    color: #fff; /* Màu chữ trắng */
    opacity: 1; /* Giữ nguyên độ trong suốt */
    cursor: not-allowed; /* Thêm biểu tượng không cho phép */
}
