@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Motel.ViewModels.ModificationLayoutViewModel

@{
    ViewData["Title"] = "Thông tin người dùng";
    Layout = "~/Areas/Post/Views/_Modification_Layout.cshtml";
}

@section _Modification_Layout_Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <!--Self-written CSS-->
    <link href="~/css/customer/customer/bills/styles.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="invoice-list">
        <div class="invoice-header row font-weight-bold">
            <div class="col-3">Mã hóa đơn</div>
            <div class="col-3">Ngày tạo</div>
            <div class="col-3">Mã khách hàng</div>
            <div class="col-3 text-right">Tiền thanh toán</div>
        </div>
        <div class="invoice-item row">
            <div class="col-3">001</div>
            <div class="col-3">01/06/2024</div>
            <div class="col-3">Nguyễn Văn A</div>
            <div class="col-3 text-right">2,000,000 VND</div>
        </div>
        <div class="invoice-item row">
            <div class="col-3">002</div>
            <div class="col-3">02/06/2024</div>
            <div class="col-3">Trần Thị B</div>
            <div class="col-3 text-right">3,500,000 VND</div>
        </div>
        <div class="invoice-item row">
            <div class="col-3">003</div>
            <div class="col-3">03/06/2024</div>
            <div class="col-3">Lê Văn C</div>
            <div class="col-3 text-right">1,200,000 VND</div>
        </div>
    </div>
</div>

@section _Modification_Layout {
    <!--Self-written JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
}